/* Header */
*{
  font-family: 'Lexend', sans-serif;
}
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}
.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  margin: 1rem;
}

.navigation {
  background-color: #f8f5f5;
  padding: 10px;
  border: 1px solid #090808;
  border-radius: 5px;
}

.navigation a {
  margin: 10px;
  text-decoration: none;
  color: #070707;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s; 
}

.navigation a:hover {
  border-bottom: 2px solid #333; 
}


.title-header {
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Main */

#main-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.review-section {
  flex-basis: 60%;
  flex-grow: 0;
}

.review-section {
  max-width: 90%;

  max-height: 50%;
}

.review-section img {
  max-width: 100%;
}

.message-us {
  flex-basis: 40%;
  flex-grow: 0;
  background-color: lightgray;
  border-radius: 8px;
}
.message-us h3,.message-us h4 {
  text-align: center;
}

.input-message-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

button {
  margin-left: 50px;
  margin-right: 50px;
}

.profile-img {
  border-radius: 50%;
}

.account-profile {
  text-align: center;
}

.account-profile h3 {
  margin: 5px 0;
}

.account-profile p {
  color: rgb(10, 10, 10);
}

.testimony {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimony h2 {
  font-style: italic;
}

.testimony-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.our-package {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.package-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  color: white;
  width: 100%;
  font-size: 30px;
  padding: 50px 0;
}
.location-list {
  display: flex;
  flex-flow: row wrap;
}

.location {
  flex-basis: 33.3%;
  display: flex;
  flex-direction: row;
}

.location p {
  margin-right: 5px;
}

.closing {
  text-align: center;
  background-color: gray;
  color: white;
  padding: 10px 0;
}

.footer {
  text-align: center;
}

/* responsive design */
@media screen and (max-width: 600px) {
  .title-header {
    background-color: red;
  }
}
